<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>{% block title %}Presence analyzer{% endblock %}</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    
    <link href="{{ url_for('static', filename='css/normalize.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/style.css') }}" media="all" rel="stylesheet" type="text/css" />

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% block scripts %}
    {% endblock %}
</head>

<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>

            {% set navigation_bar = [
                (url_for('templateview', template_name='presence_weekday'), 'presence_weekday', 'Presence by weekday'),
                (url_for('templateview', template_name='mean_time_weekday'), 'mean_time_weekday', 'Presence mean time'),
                (url_for('templateview', template_name='presence_start_end'), 'presence_start_end', 'Presence start-end')
            ] -%}
            {% set active_page = active_page|default('index') -%}
            <ul>
                {% for href, id, caption in navigation_bar %}
                <li {% if id == active_page %}id="selected"{% endif %}>
                    <a href="{{ href|e }}">{{ caption|e }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% block content %}
        <div id="content">
            <h2>Welcome in presence analyzer</h2>
            <p>
                Choose a report from above tabs.
            </p>
        </div>
        {% endblock %}
    </div>
</body>
</html>
